XAI_API_KEY=
XAI_MODEL=grok-3-mini
TARS_CA=FsPg4XFfwwLUM67FbYdhBF2jjDZt5sPkYrcMfC1gpump
TARS_CHART_URL=https://dexscreener.com/solana/FsPg4XFfwwLUM67FbYdhBF2jjDZt5sPkYrcMfC1gpump
TARS_BUY_URL=https://pump.fun/coin/FsPg4XFfwwLUM67FbYdhBF2jjDZt5sPkYrcMfC1gpump
TARS_X_URL=
